.back-arrow {
    margin: 20px 0 10px 10px ;
    position: sticky;
    top: 20px;
}

.about-me-ui {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}

.empty-space {
    width: 70vw;
}

.model1 {
    display: block;
    position: fixed;
    z-index: 20;
}

.main-ui {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(121, 0, 132, 0.1) 50%);
    border-radius: 20px;
    
    padding: 15px;
    width: 100%;
}

.top-boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(218, 159, 255, 0.3) 0%, rgba(82, 49, 88, 0.2) 50%);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    padding: 20px;
    
}

.left-box {
    border-radius: 50%;
    margin-right: 10px;
}

.right-box {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(218, 159, 255, 0.3) 0%, rgba(82, 49, 88, 0.2) 50%);
    backdrop-filter: blur(30px);
    border-radius: 20px;
    padding: 15px;
    color: white;
    width: 100%;
}

.middle-box {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(218, 159, 255, 0.3) 0%, rgba(82, 49, 88, 0.2) 50%);
    backdrop-filter: blur(30px);
    border-radius: 20px;
    margin: 10px 0;
    padding: 15px;
    color: white;
}

.bottom-box {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(218, 159, 255, 0.3) 0%, rgba(82, 49, 88, 0.2) 50%);
    backdrop-filter: blur(30px);
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    padding: 20px;
}

.bottomleft-box {
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(218, 159, 255, 0.3) 0%, rgba(82, 49, 88, 0.2) 50%);
    backdrop-filter: blur(40px);
    color: white;
    width: 100% ;
    height: 350px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 20px;
}

.bottomright-box {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(218, 159, 255, 0.3) 0%, rgba(82, 49, 88, 0.2) 50%);
    backdrop-filter: blur(30px);
    display: flex;
    flex-direction: column;
    border-radius: 20px;padding: 20px;
}

.bottomright-top-box {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(218, 159, 255, 0.3) 0%, rgba(162, 95, 173, 0.2) 80%);
    backdrop-filter: blur(30px);
    border-radius: 20px;
    margin-bottom: 10px;
    color: white;
    padding: 10px;
}

.bottomright-bottom-box {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(218, 159, 255, 0.3) 0%, rgba(162, 95, 173, 0.2) 80%);
    backdrop-filter: blur(30px);
    border-radius: 20px;
    color: white;
    padding: 10px;
}



@media screen and (max-width: 1117px) {

    .empty-space {
        display: none;
    }
    
    
    .model1 {
        display: none;
    }

    .main-ui {
        margin-top: 10vh;
    }

    .top-boxes {
        display: flex;
        flex-direction: column;
    }

    .left-box {
        margin-bottom: 20px;
    }

    .bottom-box {
        flex-direction: column;
    }

    .bottomleft-box {
        margin-bottom: 20px;
    }
}