.about-me-ui {
    display: flex;
    flex-direction: row;
    border: solid red;
}

.main-ui {
    border: solid white;
}

.top-boxes {
    display: flex;
    flex-direction: row;
}

.left-box {
    background-color: yellow;

}

.right-box {
    background-color: green;

}

.middle-box {
    background-color: blueviolet;
}

.bottom-box {
    display: flex;
    flex-direction: row;
}

.bottomleft-box {
    color: white;
    background-color: rgb(44, 43, 43);
}

.bottomright-box {
    display: flex;
    flex-direction: column;
}

.bottomright-top-box {
    background-color: white;
}

.bottomright-bottom-box {
    background-color: yellow;
}