.gallery-container {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(248, 236, 255, 0.3) 0%, rgba(82, 49, 88, 0.2) 50%);
    backdrop-filter: blur(50px);
    border-radius: 20px;
    width: 80vw;
    margin-left: 20vw;
    height: 90vh;
    overflow: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

  * {
    scrollbar-width: auto;
    scrollbar-color: #3bd8ff #320054;
  }

  *::-webkit-scrollbar {
    width: 15px;
  }

  *::-webkit-scrollbar-track {
    background: #2b0047;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #00abd6;
    border-radius: 20px;
    border: 1px solid #e300f3;
  }

@media screen and (max-width: 1117px) {
    .gallery-container {
        margin-left: 0;
        margin-top: 5vh;
    }


}

