@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.front {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title h1 {
    margin: 10px;
    color: white;
    font-family: 'Outfit', sans-serif;
    font-size: 15vh;
}

.start {
    color: white;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 3vh;
    margin-top: 50px;
}

.ig {
    position: absolute;
    bottom: 10px;
    color: white;
}